{% extends 'recepies/base.html' %}
{% block head %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<title>Search</title>

<style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
</style>
{% endblock %}

{% block body %}

<div class="album py-5 bg-light">
    <div class="container">
        {% include "./header.html" %}
        
        {% if not ts and not ings %}
        <span class="fs-5">No result matching your search</span>
        {% endif %}
        
        {% if ts %}
        <span class="fs-5">Recipe title search result</span>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for item in ts %}
            <div class="col">
                <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                         xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                         preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"/>
                        <text x="50%" y="50%" fill="#eceeef" dy=".3em">
                            {{ item.title }}
                        </text>
                    </svg>
                    
                    <div class="card-body">
                        <p class="card-text">{{ item.title }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{% url 'single_recipe' item.slug %}">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                </a>
                            </div>
                            <small class="text-muted">Cooking time: {{ item.cooking_time }}</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        
        {% if ings %}
        <span class="fs-5">Ingredients search result</span>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for item in ings %}
            <div class="col">
                <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                         xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                         preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"/>
                        <text x="50%" y="50%" fill="#eceeef" dy=".3em">
                            {{ item.title }}
                        </text>
                    </svg>
                    
                    <div class="card-body">
                        <p class="card-text">{{ item.title }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{% url 'single_recipe' item.slug %}">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                </a>
                            </div>
                            <small class="text-muted">Cooking time: {{ item.cooking_time }}</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    
    </div>
</div>


<footer class="text-muted py-5">
    <div class="container">
        <p class="float-end mb-1">
            <a href="#" class="btn btn-info">Back to top</a>
        </p>
    </div>
</footer>


{% endblock %}
